<%= render 'shared/content_title', title: "#{@user.username} profile:" %>

<div class="well">
  <dl class="dl-horizontal">
    <dt>Username:</dt>
      <dd><%= @user.username %></dd>
    <dt>Timezone:</dt>
      <dd><%= @user.username %></dd>
    <dt>Two factor auth:</dt>
      <dd><%= @user.username %></dd>
    <dt>Phone:</dt>
      <dd><%= @user.username %></dd>
  </dl>
</div>

<p>
  <strong><%= @user.username %>'s Activity</strong>
</p>
<ul class="nav nav-tabs">
<li class="<%= 'active' if params[:tab].nil? %>">
  <%= link_to "Posts #{@user.posts.size}", user_path(@user) %>
</li>
<li class="<%= 'active' if params[:tab] == 'comment' %>">
  <%= link_to "Comments #{@user.comments.size}", user_path( @user, tab: 'comment') %>
</li>
</ul>

<% if params[:tab].nil? %>
  <%= render @user.posts %>

<%- elsif params[:tab] == 'comment' -%>
  <%= render @user.comments, show_post: true %>

<%- end -%>