<% post_view ||= false %>
  <div class="row post">
    <div class="span0 well text-center">
      <%- if logged_in? -%>
        <%= link_to vote_post_path(post, vote: true), method: 'post', remote: true do %>
          <i class="icon-arrow-up"></i>
        <%- end -%>
        <br>
      <%- end -%>
      <span id="post_<%= post.id %>_vote"><%= post.total_votes.to_s + ' vote'.pluralize(post.total_votes) %></span>
      <br>
      <%- if logged_in? -%>
        <%= link_to vote_post_path(post, vote: false), method: 'post', remote: true do %>
          <i class="icon-arrow-down"></i>
        <%- end -%>
      <%- end -%>
    </div>
    <div class="span8 well">

      <% if logged_in? && post.creator == current_user -%>
        <div class="btn-group pull-right">
          <button data-toggle="dropdown" class="btn dropdown-toggle"><span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><%= link_to edit_post_path(post) do %>
              <i class="icon-pencil"></i> edit
              <% end %></li>
          </ul>
        </div>
      <%- end -%>


      <%= render post.categories %>
      <h4><%= link_to post.title, fix_url(post.url) %></h4>
      <p><%= post.description %></p>
      <% if !post_view %>
        <p>
          <span class="quiet">posted by:</span> <%= link_to post.creator.username, user_path(post.creator) %>
          <small>at <%= fix_date(post.created_at) %></small>
        </p>
        <small>
          <span>
            <%= link_to "#{post.comments.size} comments" , post_path(post) %>
          </span>
        </small>
      <% end %>
    </div>
  </div>