<%= render 'shared/content_title', title: ((link_to "All Posts", posts_path) +  " > #{@post.title}") %>

<%= render @post, post_view: true %>

<br>

<%- if logged_in? -%>
<div class="row" >
  <%= render 'shared/errors', obj: @comment %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body, rows: 6, class: "span4" %>
    <br>
    <%= f.submit class: "btn" %>
  <% end %>
  <br>
  <br>
</div>
<%- end -%>

<p class="lead">
  Comments
  <hr/>
</p>
<%= render @post.comments %>