<ul class="nav">
  <li>
    <%= link_to "Home", root_path, :class => 'brand' %>
  </li>
  <li>
    <%- if logged_in? -%>
      <%= link_to 'New Post', new_post_path %>
    <%- end -%>
  </li>
  <li>
    <div class="btn-group">
      <button data-toggle="dropdown" class="btn dropdown-toggle">Categories <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, category_path(category) %></li>
        <% end %>
        <%- if logged_in? -%>
          <li class="divider"></li>
          <li> <%= link_to(new_category_path) do %>  
            <i>New Category</i> 
            <% end %></li>
        <%- end -%>
        </ul>
      </div>
    </li>
    <li class="span1">
      <% if logged_in? -%>
        <li style="padding: 10px 20px">
          Hello <%= current_user.username %>
        </li>
        
        <li>
          <div class="btn-group">
            <button data-toggle="dropdown" class="btn dropdown-toggle">Account <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><%= link_to 'My Profile', profile_path %></li>
              <li><%= link_to 'Edit Profile', profile_edit_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to 'Logout', logout_path %>
              </li>
            </ul>
          </div>
        </li>


      <%- else -%>
        <li>
          <%= link_to 'Login', login_path %>
        </li>
        <li>
          <%= link_to 'Register', register_path %>
        </li>    
      <%- end -%>
    </li>
    <li class="span3">
      <div class="navbar-form pull-right">
        <%= form_tag(search_posts_path, method: :get) do -%>
        <%= text_field_tag 'q', nil, placeholder: 'Enter search term...' %>
        <%- end -%>
      </div>
      <li>        
        
      </li>
      </li>
    </ul>
